.container-main {
    max-width: 1054px;
    margin: 30px auto 0 auto;

    .banner-head {
        font-family: $font-banner;
        font-size: 90px;
        font-weight: 500;
        text-align: center;
        margin: 75px 0;
    }

    .flickity-wrapper {
        max-width: 1054px;
        margin: 60px auto;
    }

    .flickity-head {
        text-align: center;
    }

    .products-item-img {
        margin: $spacing-xl;
        transition: 0.3s;
    }

    .carousel-cell {
        width: 256px;
        height: 280px;
        margin-right: $spacing-xs;
    }

    .product-cell-wrapper {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: $main-color;

        &:hover {
            .button-buy-flickity {
                transform: translateY(88px);
                opacity: 1;
            }

            .products-item-img {
                transform: scale(0.9) scale(0.85) translate(0px, -24px);
            }
        }
    }

    .product-info-cell-wrapper {
        display: flex;
        align-items: center;
        background-color: white;
    }

    h4 {
        margin: $spacing-xs $spacing-xs $spacing-xs 0;
    }

    .products-info-color-flickity {
        margin-bottom: 0;
    }
}