.star {
    margin-right: $spacing-xxs;
    color: $form-star-red-color;
    font-family: $font-checkout;
    font-weight: 400;
    font-size: $font-size-xs;
}

.checkout-container-label {
    font-family: $font-checkout;
    font-weight: 400;
    font-size: $font-size-xs;
    margin-bottom: $spacing-xxs;
}

.checkout-container-input {
    border: 1px solid $form-border-color;
    border-radius: 8px;
    height: 48px;
    padding: 0 $spacing-xs;

    d &-error {
        border: 1px solid $form-star-red-color;
    }

    &:hover {
        border: 1px solid $main-color;
        transition: 0.7s;
    }
}