body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 1600px;
    margin: $spacing-30 auto 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &-item {
        width: 300px;;
        margin-bottom: $spacing-30;
        border-bottom: 1px solid black;

        &-img-box {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: $spacing-20 0;
            background-color: $img-box-background-color;
        }

        &-img {
            width: 70%;
        }
    }

   &-info {
        padding: 0 $spacing-10;
        margin-bottom: $spacing-10;
    }

    .name {
        margin-bottom: $spacing-15;
    }

    &-info-color {
        display: flex;
    }

    &-info-color-item {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: $spacing-10;
    }

    .products-info-color-red {
        background-color: $red-color;
    }

    .products-info-color-blue {
        background-color: $blue-color;
    }

    .products-info-color-yellow {
        background-color: $yellow-color;
    }

    .products-info-color-green {
        background-color: $green-color;
    }
}