.filter {
    display: block;
    min-width: 200px;
    padding: $spacing-15;
    margin-right: $spacing-20;

  .color-filters {
      margin-top: $spacing-20;
      display: flex;
      flex-direction: column;

      .filter-item {
        margin-bottom: $spacing-20;
      }
  }
}

.filter-heading{
  font-size: $heading-h3-font-size;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 ;
}

.color-filters {
  display: flex;
}
.color-filter-input {
    opacity: 0;
    margin-right: $spacing-15;
  }

  .color-filter-input:checked ~ .color-filter-label {
    &::before {
      border: 1px solid $color-filter-border;
    }
}
  
  .color-filter-label {
    position: relative;
    
    &::before {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
      transform: translate(0,-50%);
      top: 50%;
      width: 20px;
      height: 20px;
    }
  }

  .red {
    &::before {
      background-color:$red-filter-color;
    }
  }

  .yellow {
    &::before {
      background-color: $yellow-filter-color;
    }
  }

  .blue {
    &::before {
      background-color: $blue-filter-color;
    }
  }

  .green {
    &::before {
      background-color: $green-color;
    }
  }