.filter {
  display: block;
  min-width: 200px;
  padding: $spacing-m;
  margin-right: $spacing-l;

  .color-filters {
    margin-top: $spacing-l;
    display: flex;
    flex-direction: column;

    .filter-item {
      margin-bottom: $spacing-l;
    }
  }
}

.filter-heading {
  font-size: $small-font-size;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.color-filters {
  display: flex;
}

.color-filter-input {
  opacity: 0;
  margin-right: $spacing-m;
}

.color-filter-input:checked~.color-filter-label {
  &::before {
    opacity: 1;

  }
}

.color-filter-label {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    transform: translate(-10%, -50%);
    top: 50%;
    width: 25px;
    height: 25px;
    background-color: $black-color;
    opacity: 0;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    transform: translate(0, -50%);
    top: 50%;
    width: 20px;
    height: 20px;
  }

}

.red::after {
  background-color: $red-filter-color;
}

.yellow::after {
  background-color: $yellow-filter-color;
}

.blue::after {
  background-color: $blue-filter-color;
}

.green::after {
  background-color: $green-color;
}