.d-none {
    display: none;
}

.d-show {
    display: block;
    bottom: 0;
    transform: translate(0, -10px);
    transition: 0.3s;
}

.d-none-flickity {
    transform: translate(0, 42px);
    transition: 0.3s;
}

.products-item-img-box-flickity-transform {
    transform: scale(0.9) scale(0.85) translate(0px, -24px);
    transition: 0.3s;
}

.bold {
    font-weight: bold
}

.hide {
    // display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition-timing-function: linear, step-end;
}