//colors
$red-color: #f14545;
$yellow-color: #d9ff00;
$blue-color: #3369dd;
$green-color: #33c746;
$img-box-background-color: #cad8d8;
$color-filter-border: #646464;

//filter-colors
$red-filter-color: $red-color;
$yellow-filter-color: $yellow-color;
$blue-filter-color: $blue-color;
$green-filter-color: $green-color;

//spacing marging
$spacing-10: 10px;
$spacing-15: 15px;
$spacing-20: 20px;
$spacing-30: 30px;

//font sizes
$heading-h3-font-size: 20px;